VITE_MAP_STYLE_URL=https://demotiles.maplibre.org/style.json
VITE_ROUTE_GRAPH_URL=/data/bogota-graph.bin
# Descarga/copia tu extracto PMTiles de Bogotá en public/data/bogota.pmtiles
VITE_PMTILES_URL=/data/bogota.pmtiles
# ID del proyecto de Microsoft Clarity (opcional)
VITE_CLARITY_PROJECT_ID=
